* {
    margin: 0;
    padding: 0;
    font-family: ms, sans-serif;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #c9d6df00;
    background-image: url(https://i.pinimg.com/564x/0e/50/2d/0e502d2554ff16999b342c4888dc20e2.jpg);
    background-size: contain;
}

.main {
    width: 90%;
    max-width: 470px;
    background-image: linear-gradient(to bottom, #000000, #240090);
    backdrop-filter: blur(12px);
    color: #130f0f;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #3500d36a;
    color: white;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #C9D6DF;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.weatherIcon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    margin-top: 50px;
    justify-content: space-between;
}

.column {
    display: flex;
    align-items: center;
    text-align: left;

}

.column img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind,
.pressure {
    font-size: 28px;
    margin-top: -6px;
}

.copyright {
    margin-bottom: 10px;
    text-align: center;
}

.weather-day {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
  }
  .weather-day img {
    display: block;
    margin: 10px 0;
  }
